body {
    background-color : black;
}

.shahab1 {
    color: white;
    font-size: 300px;
    margin-left: 100px;
}

.shahab2 {
    color: white;
    font-size: 150px;
    margin-left: 40px;
}

.shahab3 {
    color: white;
    font-size: 150px;
    margin-left: 40px;
}

.shahab4 {
    color: white;
    font-size: 150px;
    margin-left: 40px;
}

.shahab5 {
    color: white;
    font-size: 150px;
    margin-left: 40px;
}

.shahab6 {
    color: white;
    font-size: 300px;
    margin-left: 40px;
}

.shahab7 {
    color: white;
    font-size: 150px;
    margin-left: 40px;
}

.shahab8 {
    color: white;
    font-size: 150px;
    margin-left: 40px;
}

.shahab9 {
    color: white;
    font-size: 150px;
    margin-left: 40px;
}

.shahab10 {
    color: white;
    font-size: 300px;
    margin-left: 40px;
}

.shahab11 {
    color: white;
    font-size: 150px;
    margin-left: 40px;
}

.shahab12 {
    color: white;
    font-size: 150px;
    margin-left: 40px;
}

.shahab13 {
    color: white;
    font-size: 150px;
    margin-left: 40px;
}

.shahab14 {
    color: white;
    font-size: 150px;
    margin-left: 40px;
}

.shahab15 {
    color: white;
    font-size: 300px;
    margin-left: 40px;
}

.shahab16 {
    color: white;
    font-size: 150px;
    margin-left: 40px;
}

.shahab17 {
    color: white;
    font-size: 300px;
    margin-left: 40px;
}

.shahab18 {
    color: white;
    font-size: 150px;
    margin-left: 40px;
}

.shahab19 {
    color: white;
    font-size: 300px;
    margin-left: 40px;
}

.shahab20 {
    color: white;
    font-size: 300px;
    margin-left: 40px;
}
