body {
    background-color : black;
}

.shahab1 {
    color: white;
    font-size: 250px;
    margin-left: 50px;
}

.shahab2 {
    color: white;
    font-size: 150px;
    margin-left: 50px;
}

.shahab3 {
    color: white;
    font-size: 100px;
    margin-left: 50px;
}

.shahab4 {
    color: white;
    font-size: 100px;
    margin-left: 50px;
}