body {
    background-color : black;
}

.shahab1 {
    color: white;
    font-size: 300px;
    margin-left: 100px;
}

.shahab2 {
    color: white;
    font-size: 150px;
    margin-left: 40px;
}

.shahab3 {
    color: white;
    font-size: 150px;
    margin-left: 40px;
}

.shahab4 {
    color: white;
    font-size: 150px;
    margin-left: 40px;
}
